<div class="movie-details">
  <mv-input
    [value]="'Home'"
    (click)="goHome()"
  >
  </mv-input>
  <h3 class="movie-details__title" (click)="go()">{{movieDescription?.title}}</h3>
  <mv-like [likes]="movieDescription?.likes"
           (clickLike)="changeLikes($event)"
           class="movie-details__likes">
  </mv-like>
  <div class="movie-details__stars">
    <mv-star *ngFor="let number of numberStars"
             [className]="(movieDescription?.stars >= number) ? 'star star--active': 'star'"
             (click)="changeRating('stars', number)">
    </mv-star>
  </div>
  <img class="movie-details__img" [src]="movieDescription?.posterUrl" [alt]="movieDescription?.title">
  <div class="movie-details__about">
    <p>Director: {{movieDescription?.director}}</p>
    <p>Actors: {{movieDescription?.actors}}</p>
    <p>Description: {{movieDescription?.description}}</p>
  </div>
</div>
