.btn {
  font-size: 20px;
  padding: 5px 8px;
  color: #fff;
  background: #00838F;
  border: 1px solid #00838F;
  border-radius: 4px;
  cursor: pointer;
  &--filter {
    background: #fff;
    cursor: auto;
    color: #00838F;
  }
  &:hover {
    color: #00838F;
    background: #fff;
  }
  &-like {
    display: block;
    font-size: 40px;
    margin: 2px;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    &--dislikes {
      transform: rotate(180deg);
    }
  }
}
