mv-movies {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.movies {
  &-nav {
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid #00BCD4;
  }
  &-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;

  }
}
