<div class="movies-nav">
  <h2 class="filters__title">Sort movies</h2>
  <mv-input (click)="sorting('likes')" [value]="'by likes'"></mv-input>
  <mv-input (click)="sorting('stars')" [value]="'by rating'"></mv-input>
  <mv-input [value]=[(text)] [type]="text" [placeholder]="'Searchs by name'"
            [className]="'btn btn--filter'"
            [name]="'title'"
            (keyup)="searchs($event)"
  ></mv-input>
</div>
<div class="movies-items">
  <div class="item" *ngFor="let item of items" (mouseover)="showMovie(item?.id)">
    <h3  class="item__title" (click)="detailsMovie(item.id)" >{{item?.title}}</h3>
    <div class="item__likes likes">
      <mv-input [className]="'btn btn-like'" [value]="'🖒'" (click)="changeLikes(item?.id)"></mv-input>
      <mv-input [className]="'btn btn-like btn-like--dislikes'" [value]="'🖒'"
                (click)="changeDisLikes(item?.id)"></mv-input>
      <p class="likes__title">Likes</p>
      <p class="likes__number">{{item?.likes}}</p>
    </div>
    <a  class="item__img">
      <img [src]="item?.posterUrl" [alt]="item?.title">
    </a>
    <div class="item__rating">
      <mv-star *ngFor="let number of numberStars"
               [className]="(item?.stars >= number) ? 'star star--active': 'star'"
               (click)="changeRating(number, item?.id)">
      </mv-star>
    </div>
  </div>
</div>

<div class="movie-description">
  <h3 class="movie-description__title">{{itemDescription?.title}}</h3>
  <p class="movie-description__likes">Likes: <span>{{itemDescription?.likes}}</span></p>
  <mv-star *ngFor="let number of numberStars"
           [className]="(itemDescription?.stars >= number) ? 'star star--active': 'star'"
           (click)="changeRating(number, itemDescription?.id, true)">
  </mv-star>
  <img class="movie-description__img" [src]="itemDescription?.posterUrl" [alt]="itemDescription?.title">
  <div class="movie-description__about">
    <p>Director: {{itemDescription?.director}}</p>
    <p>Actors: {{itemDescription?.actors}}</p>
    <p>Description: {{itemDescription?.description}}</p>
  </div>
</div>

